nav#navigation-bar.navbar.navbar-expand-md.navbar-light.fixed-left {
    background-color: #dff5e2;
    color: #181014;
}

div#navbar-container.container-fluid {
    padding: 0 1.5pc;
}

span#name.navbar-brand {
    font-size: 1.2pc;
}

span.navbar-brand {
    padding: 0;
}

a#basic-nav-dropdown {
    border-radius: 0.5pc;
    font-size: 0.75pc;
}


img.d-inline-block.align-top {
    margin-right: 0.5pc;
}

/* smaller */
@media (max-width: 768px) {
    nav#navigation-bar.navbar.navbar-expand-md.navbar-light.fixed-left {
        height: 10vh;
        box-shadow: 0 0.25pc 0.6pc rgb(0 0 0 / 0.2);
    }
}

/* larger */
@media (min-width: 768px) {
    nav#navigation-bar.navbar.navbar-expand-md.navbar-light.fixed-left {
        height: 10vh;
        box-shadow: 0 0.25pc 0.6pc rgb(0 0 0 / 0.2);
    }
}

div.dropdown-menu.show {
    border-radius: 0.5pc;
}