div#material-table-element {
    padding: 0.5pc 0.5pc;
}

h6.MuiTypography-root, input.MuiInputBase-input, td.MuiTableCell-root,
    span.MuiTypography-root.MuiTypography-caption,
    div.MuiSelect-root.MuiSelect-select.MuiTablePagination-select.MuiSelect-selectMenu.MuiInputBase-input,
    li.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiTablePagination-menuItem.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button,
    div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    font-size: 0.75pc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h6.MuiTypography-root {
    font-weight: bold;
}

div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    padding: 0;
    border-radius: 0.5pc;
}

th.MuiTableCell-root.MuiTableCell-head.MTableHeader-header-13.MuiTableCell-alignLeft {
    padding: 0;
}

div.MuiToolbar-root.MuiToolbar-regular.MTableToolbar-root-5.MuiToolbar-gutters {
    padding: 0 1pc;
}