input#black-scholes.form-control {
    border-radius: 0.5pc;
}

div#title {
    margin: 1pc 0;
    padding: 0 1.5pc;
    font-size: 1pc;
    font-weight: bold;
}

input#black-scholes.form-control {
    padding: 0.25pc 0.5pc;
    border-top-left-radius: 0.5pc;
    border-bottom-left-radius: 0.5pc;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input#black-scholes-L.form-control {
    border-radius: 0.5pc;
}

span.input-group-text {
    border-top-right-radius: 0.5pc;
    border-bottom-right-radius: 0.5pc;
    background-color: #dff5e2;
    padding: 0.25pc 0.25pc;
}

div#triple.col-lg-4.col-md-4.col-sm-12.col-12:first-of-type,
    div#triple.col-lg-8.col-md-8.col-sm-12.col-12:first-of-type,
        div#triple.col-lg-6.col-md-6.col-sm-12.col-12:first-of-type,
        div#triple.col-lg-12.col-md-12.col-sm-12.col-12:first-of-type {
    padding-left: 0 !important;
}

div#triple.col-lg-4.col-md-4.col-sm-12.col-12:last-of-type, 
    div#triple.col-lg-6.col-md-6.col-sm-12.col-12:last-of-type,
    div#triple.col-lg-12.col-md-12.col-sm-12.col-12:last-of-type {
    padding-right: 0 !important;
}

div.dates {
    padding-left: 0.5pc;
}

svg#icon-delete {
    font-size: 0.75pc;
}